# ======================
# Build & Gradle
# ======================
.gradle/
build/
out/
target/

# Keep Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# Keep source output dirs
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/

# ======================
# Secrets & Config
# ======================
src/test/resources/apikey.properties
src/test/resources/*.properties

# ======================
# Test Artifacts
# ======================
src/test/resources/failedTests.txt
allure-results/
allure-report/

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iws
*.iml
*.ipr

# ======================
# Other IDEs
# ======================

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log
logs/